$zebra-striping: #eee;

table tr:nth-child(4n-1), table tr:nth-child(4n) {
  background: $zebra-striping;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th {
  border: none;
}
